{% extends "layout.html" %} {% block body %}
<div class="main-body">
  <div class="contact-wrap w-100 p-md-5 p-4 shadow-lg mb-4">
    <div
      class="d-flex mb-4 align-items-center justify-content-between text-nowrap"
    >
      <h4 id="current-mode">Add name📝</h4>
      <a id="alt-mode" href="#" class="text-muted">Add payment💸</a>
    </div>
    <div id="form-message-success" class="mb-4" hidden></div>
    <form method="POST" id="adminForm" name="paymentForm" class="ld-over">
      <div class="ld ld-ring ld-spin" style="font-size: 2rem"></div>
      <input
        type="hidden"
        name="csrf_token"
        value="{{ csrf_token() }}"
        id="csrf_token"
      />
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <select class="form-control" name="fee_type" id="fee_type">
              <option value="fusion-cantus" selected>Fusion Cantus 4.0</option>
              <option value="send-forth">Send Forth</option>
            </select>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <select class="form-control" name="part" id="part">
              <option value="Soprano" selected>Soprano</option>
              <option value="Alto">Alto</option>
              <option value="Tenor">Tenor</option>
              <option value="Bass">Bass</option>
              <option value="Donations">Donation</option>
            </select>
          </div>
        </div>
        <div class="col-md-12">
          <div id="name-div" class="form-group autocomplete ld-over">
            <div class="ld ld-ring ld-spin" style="font-size: 1.5rem"></div>
            <input
              type="text"
              class="form-control"
              name="name"
              id="name"
              placeholder="Name"
              required
            />
            <div class="autocomplete-items" id="autocompleteItems" hidden></div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="reg_no"
              id="reg_no"
              placeholder="Reg NO"
              required
            />
          </div>
        </div>
        <div id="amount-div" class="col-md-12" hidden>
          <div class="form-group">
            <input
              type="number"
              class="form-control"
              name="amount"
              id="amount"
              placeholder="Amount"
            />
          </div>
        </div>
        <div id="file-div" class="col-md-12">
          <div class="custom-file mb-3">
            <input
              type="file"
              class="custom-file-input"
              name="name-file"
              id="name-file"
              accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
            />
            <label for="name-file" class="custom-file-label"
              >Upload Name File</label
            >
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <button
              id="submit-btn"
              type="submit"
              value="Submit"
              class="btn btn-secondary ld-ext-right"
            >
              Submit
              <div class="ld ld-ring ld-spin" style="font-size: 1.2rem"></div>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<script src="{{ url_for('static', filename='js/admin.js')}}"></script>
{% endblock %}
