{% extends "layout.html" %} {% block body %}
<div id="main-body" class="main-body">
  <div class="contact-wrap w-100 p-md-5 p-4 shadow-lg mb-4">
    <h3 class="mb-4">Pay your dues ✨</h3>
    <div id="form-message-warning" class="mb-4" hidden></div>
    <form
      method="POST"
      id="paymentForm"
      name="paymentForm"
      action="https://checkout.flutterwave.com/v3/hosted/pay"
    >
      <input
        type="hidden"
        name="csrf_token"
        value="{{ csrf_token() }}"
        id="csrf_token"
      />
      <input
        type="hidden"
        name="public_key"
        value="FLWPUBK-7196e43ed4ac2041e707fb5d2f045d3f-X"
      />
      <input
        id="flw-tx_ref"
        type="hidden"
        name="tx_ref"
        value="bitethtx-019203"
      />
      <input id="flw-amount" type="hidden" name="amount" value="3400" />
      <input type="hidden" name="currency" value="NGN" />
      <input
        type="hidden"
        name="redirect_url"
        value="{{ url_for('main.payment_callback', _external=True, _scheme='https') }}"
      />
      <input id="flw-fee_type" type="hidden" name="meta[fee_type]" value="54" />
      <input id="flw-part" type="hidden" name="meta[part]" value="Soprano" />
      <input id="member_id" type="hidden" name="meta[member_id]" value="123" />
      <input
        id="flw-name"
        type="hidden"
        name="customer[name]"
        value="Jesse Pinkman"
      />
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <select class="form-control" name="fee_type" id="fee_type">
              <!-- <option value="send-forth" selected>Send Forth</option> -->
              <!-- <option value="fusion-cantus" selected>Fusion Cantus 5.0</option> -->
              <option value="film" selected>FILM</option>
            </select>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <select class="form-control" name="part" id="part">
              <option value="Soprano" selected>Soprano</option>
              <option value="Alto">Alto</option>
              <option value="Tenor">Tenor</option>
              <option value="Bass">Bass</option>
            </select>
          </div>
        </div>
        <div class="col-md-12">
          <div id="name-div" class="form-group autocomplete ld-over">
            <div class="ld ld-ring ld-spin" style="font-size: 1.5rem"></div>
            <input
              type="text"
              class="form-control"
              name="name"
              id="name"
              placeholder="Name"
              autocomplete="off"
              disabled
              required
            />
            <div class="autocomplete-items" id="autocompleteItems" hidden></div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              name="customer[email]"
              id="email"
              placeholder="Email"
              required
            />
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <input
              type="number"
              class="form-control"
              name="my-amount"
              id="amount"
              placeholder="Amount"
              required
            />
          </div>
        </div>
        <!-- <div class="col-md-12">
          <div class="form-group form-check">
            <input
              type="checkbox"
              class="form-check-input"
              name="donate"
              id="donate"
            />
            <label class="form-check-label" for="donate">
              I want to donate.
            </label>
          </div>
        </div> -->
        <div class="col-md-12">
          <div class="form-group">
            <button
              id="submit-btn"
              type="submit"
              value="Submit"
              class="btn btn-secondary ld-ext-right"
            >
              Submit
              <div class="ld ld-ring ld-spin" style="font-size: 1.2rem"></div>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<script src="{{ url_for('static', filename='js/main.js')}}"></script>
{% endblock %}
