<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Thank you ❤️✨ | CSC UNN</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700"
      rel="stylesheet"
      type="text/css"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="//cdn.jsdelivr.net/gh/loadingio/ldbutton@v1.0.1/dist/ldbtn.min.css"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/loading.css') }}"
    />
  </head>
  <body>
    <section
      class="ftco-section img bg-hero"
      style="background-image: url(static/images/1.jpg); height: 100%"
    >
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center mt-4 mb-4">
            <h2 class="heading-section">Catholic Students' Choir</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-11">
            <div class="wrapper">
              <div class="row no-gutters justify-content-between">
                <div class="col-lg-6 d-flex align-items-stretch">
                  <div class="info-wrap w-100 p-5">
                    <h3 class="mb-4">Fusion Cantus 4.0</h3>
                    <div class="dbox w-100 d-flex align-items-start">
                      <div class="text">
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit. Quaerat consequuntur officiis vitae odio debitis
                          nam optio quas maxime rem unde.
                        </p>
                      </div>
                    </div>
                    <div class="dbox w-100 d-flex align-items-start">
                      <div
                        class="icon d-flex align-items-center justify-content-center"
                      >
                        <span class="fa fa-instagram"></span>
                      </div>
                      <div class="text pl-4">
                        <p>
                          <span>Instagram</span>
                          <a
                            href="https://instagram.com/csc_unn"
                            target="_blank"
                            >csc_unn</a
                          >
                        </p>
                      </div>
                    </div>
                    <div class="dbox w-100 d-flex align-items-start">
                      <div
                        class="icon d-flex align-items-center justify-content-center"
                      >
                        <span class="fa fa-globe"></span>
                      </div>
                      <div class="text pl-4">
                        <p><span>Website</span> <a href="#">cscunn.ng</a></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5">
                  <div
                    class="contact-wrap w-100 h-100 p-md-5 p-4 shadow-lg mb-4"
                  >
                    <h3>{{ message }}</h3>
                    <a class="text-secondary" href="{{ url_for('main.index') }}"
                      >{{ link_mssg }}</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
